@font-face {
  font-family: 'Trebuchet MS';
  src: url('TrebuchetMS/TrebuchetMS.eot');
  src: url('TrebuchetMS/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
  url('TrebuchetMS/TrebuchetMS.woff2') format('woff2'),
  url('TrebuchetMS/TrebuchetMS.woff') format('woff'),
  url('TrebuchetMS/TrebuchetMS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trebuchet MS';
  src: url('TrebuchetMS/TrebuchetMS-Bold.eot');
  src: url('TrebuchetMS/TrebuchetMS-Bold.eot?#iefix') format('embedded-opentype'),
  url('TrebuchetMS/TrebuchetMS-Bold.woff2') format('woff2'),
  url('TrebuchetMS/TrebuchetMS-Bold.woff') format('woff'),
  url('TrebuchetMS/TrebuchetMS-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}