.card {
  width: 320px;
  cursor: pointer;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin: 0 40px 40px;

    @media (max-width: 577px) {
      margin: 0 0 40px;
    }
  }

  &__header {
    height: 45px;
    position: relative;
  }

  &__corner {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 1px;
    top: 0;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 64px;
      height: 4px;
      background-color: #1698d9;
      z-index: 99;
      transform: translateX(-50%) rotate(-45deg);
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      border: 23px solid transparent;
      border-right: 23px solid #f2f2f2;
      border-bottom: 23px solid #f2f2f2;
    }
  }

  &__title {
    height: 45px;
    width: 275px;
    position: absolute;
    right: 0;
    padding-top: 12px;
    padding-left: 4px;
    background-color: #f2f2f2;
    border-top-right-radius: 12px;
    border-top: 4px solid #1698d9;
    border-right: 4px solid #1698d9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__body {
    background-color: #f2f2f2;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 4px solid #1698d9;
    border-top: none;
    overflow: hidden;
    position: relative;
    height: 435px;
  }

  &__name {
    font-size: 48px;
    padding-left: 43px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
  }

  &__stuffing{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    padding-left: 46px;
    position: relative;
    top: -3px;
    padding-bottom: 12px;
  }

  &__portions, &__bonus, &__mark {
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 1.143;
    text-align: left;
    z-index: 1;
    position: relative;
    padding-left: 45px;
  }

  &__portions-count, &__bonus-count {
    font-weight: bold;
    padding-right: 5px;
  }

  &__picture {
    width: 312px;
    height: 312px;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  &__weight {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1698d9;
    position: absolute;
    right: 11px;
    bottom: 11px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 42px;
    color: rgb(255, 255, 255);
    line-height: 0.524;
    padding-top: 20px;

    &::after {
      content: 'кг';
      display: block;
      font-size: 21px;
      margin-top: 13px;
    }
  }

  &__caption {
    font-size: 13px;
    color: rgb(255, 255, 255);
    line-height: 1.231;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.004);
    margin-top: 14px;
  }

  &__link {
    color: #1698d9;
    border-bottom: 1px dashed #1698d9;
    cursor: pointer;
    transition: border-bottom-color .3s;

    &:hover {
      border-bottom-color: transparent;
    }
  }

  &__point {
    color: #1698d9;
  }
}